![Image of Yaktocat](https://compete.cognitiveclass.ai/static/media/cognitive-class-logo.b08236c1.png)

# Module 1
## Importing and Exporting Data in Python

In [56]:
# import pandas library
import pandas as pd

# assign the file into variable "url"
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"

# read csv
df = pd.read_csv(url)
print("Done!")

Done!

In [57]:
# show top rows of the data frame
df.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [58]:
# show bottom rows of the data frame
df.tail()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [59]:
# create headers list
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [60]:
# replace header and recheck data frame
df.columns = headers
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [61]:
# exporting data frame to CSV file
df.to_csv("automobile.csv")
print("Done!")

Done!

## Getting Started Analyzing Data in Python

In [62]:
# check the data type of data frame 
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [63]:
# statistical summary of each column
df.describe(include="all")

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,204.000000,204,204,204,204,204,204,204,204,204.000000,...,204.000000,204,204,204,204.000000,204,204,204.000000,204.000000,204
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,186
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,40,32,184,167,114,96,120,201,NaN,...,NaN,93,23,20,NaN,19,37,NaN,NaN,4
mean,0.823529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.806373,...,126.892157,NaN,NaN,NaN,10.148137,NaN,NaN,25.240196,30.769608,NaN
std,1.239035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.994144,...,41.744569,NaN,NaN,NaN,3.981000,NaN,NaN,6.551513,6.898337,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.575000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,119.500000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,142.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.500000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [64]:
# statistical summary of some columns
df[['symboling', 'price']].describe(include="all")

         symboling price
count   204.000000   204
unique         NaN   186
top            NaN     ?
freq           NaN     4
mean      0.823529   NaN
std       1.239035   NaN
min      -2.000000   NaN
25%       0.000000   NaN
50%       1.000000   NaN
75%       2.000000   NaN
max       3.000000   NaN

# Module 2
## Pre-processing Data in Python
### Dealing with Missing Values

In [65]:
# drop missing values (axis = 0 drop entire row, axis = 1 drop entire column)
df.dropna(subset=["price"], axis = 0, inplace = True);

In [66]:
import numpy as np

# convert "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [67]:
# evaluating for missing data ("True" stands for missing value, while "False" stands for not missing value)
missing_data = df.isnull()
missing_data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [68]:
# count missing values in each column
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

symboling
False    204
Name: symboling, dtype: int64

normalized-losses
False    164
True      40
Name: normalized-losses, dtype: int64

make
False    204
Name: make, dtype: int64

fuel-type
False    204
Name: fuel-type, dtype: int64

aspiration
False    204
Name: aspiration, dtype: int64

num-of-doors
False    202
True       2
Name: num-of-doors, dtype: int64

body-style
False    204
Name: body-style, dtype: int64

drive-wheels
False    204
Name: drive-wheels, dtype: int64

engine-location
False    204
Name: engine-location, dtype: int64

wheel-base
False    204
Name: wheel-base, dtype: int64

length
False    204
Name: length, dtype: int64

width
False    204
Name: width, dtype: int64

height
False    204
Name: height, dtype: int64

curb-weight
False    204
Name: curb-weight, dtype: int64

engine-type
False    204
Name: engine-type, dtype: int64

num-of-cylinders
False    204
Name: num-of-cylinders, dtype: int64

engine-size
False    204
Name: engine-size, dtype: int64

fuel-system
False    204
Name: fuel-system, dtype: int64

bore
False    200
True       4
Name: bore, dtype: int64

stroke
False    200
True       4
Name: stroke, dtype: int64

compression-ratio
False    204
Name: compression-ratio, dtype: int64

horsepower
False    202
True       2
Name: horsepower, dtype: int64

peak-rpm
False    202
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    204
Name: city-mpg, dtype: int64

highway-mpg
False    204
Name: highway-mpg, dtype: int64

price
False    200
True       4
Name: price, dtype: int64

In [69]:
# count "NaN" values before the replace
print("check 'NaN' values:", df["normalized-losses"].isna().sum())

# calculate the average of the column
avg_1 = df["normalized-losses"].astype("float").mean(axis = 0)
print("avg_1 value: ", avg_1)

# replace "NaN" by mean value in "normalized-losses" column
df["normalized-losses"].replace(np.nan, avg_1, inplace = True)

# recheck "NaN" values after the replace
print("recheck 'NaN' values:", df["normalized-losses"].isna().sum())

check 'NaN' values: 40
avg_1 value:  122.0
recheck 'NaN' values: 0

In [70]:
# check which values are present in a particular column
df['num-of-doors'].value_counts()

four    114
two      88
Name: num-of-doors, dtype: int64

In [71]:
# check the most common type automatically
df['num-of-doors'].value_counts().idxmax()

'four'

In [72]:
# check "NaN" values before the replace
print("check 'NaN' values:", df["num-of-doors"].isna().sum())

#replace the missing 'num-of-doors' values by the most frequent 
df["num-of-doors"].replace(np.nan, "four", inplace = True)

# recheck which values are present in a particular column
print(df['num-of-doors'].value_counts())

check 'NaN' values: 2
four    116
two      88
Name: num-of-doors, dtype: int64

In [73]:
# check "NaN" values before the replace
print("check 'NaN' values:", df["price"].isna().sum())

# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace = True)

# reset index, because we droped two rows
df.reset_index(drop = True, inplace = True)

# recheck "NaN" values after the replace
print("recheck 'NaN' values:", df["price"].isna().sum())

check 'NaN' values: 4
recheck 'NaN' values: 0

### Dealing with Data Formatting

In [74]:
# checking data format
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [75]:
# correct data format
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

print("Done!")

Done!

In [76]:
# recheck data types
df.dtypes

symboling              int64
normalized-losses      int64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower            object
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

### Dealing with Data Normalization

In [77]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000.0,21,27,16500.0
1,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000.0,19,26,16500.0
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500.0,24,30,13950.0
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500.0,18,22,17450.0
4,2,122,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500.0,19,25,15250.0

In [78]:
# transform mpg to L/100km
df['city-L/100km'] = 235/df["city-mpg"]

# check your transformed data
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,27,16500.0,11.190476
1,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000.0,19,26,16500.0,12.368421
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500.0,24,30,13950.0,9.791667
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500.0,18,22,17450.0,13.055556
4,2,122,audi,gas,std,two,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,8.5,110,5500.0,19,25,15250.0,12.368421

In [79]:
# replace (origianl value) by (original value)/(maximum value)
df['length'] = df['length']/df['length'].max()
df['height'] = df['height']/df['height'].max()
df['width'] = df['width']/df['width'].max()
df[["length","width","height"]].head()

     length     width    height
0  0.811148  0.890278  0.816054
1  0.822681  0.909722  0.876254
2  0.848630  0.919444  0.908027
3  0.848630  0.922222  0.908027
4  0.851994  0.920833  0.887960

### Dealing with Data Binning

In [80]:
# convert data to correct format 
df["horsepower"]=df["horsepower"].astype(float, copy=True)
binwidth = (max(df["horsepower"])-min(df["horsepower"]))/4
bins = np.arange(min(df["horsepower"]), max(df["horsepower"]), binwidth)
bins

array([ 48. , 101.5, 155. , 208.5])

In [81]:
# set group names
group_names = ['Low', 'Medium', 'High']

df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels=group_names,include_lowest=True )
df[['horsepower','horsepower-binned']].head(20)

    horsepower horsepower-binned
0        111.0            Medium
1        154.0            Medium
2        102.0            Medium
3        115.0            Medium
4        110.0            Medium
5        110.0            Medium
6        110.0            Medium
7        140.0            Medium
8        101.0               Low
9        101.0               Low
10       121.0            Medium
11       121.0            Medium
12       121.0            Medium
13       182.0              High
14       182.0              High
15       182.0              High
16        48.0               Low
17        70.0               Low
18        70.0               Low
19        68.0               Low

# Module 3
## Exploratory Data Analysis
### Descriptive Statistics

In [82]:
# summarize statistics
df.describe()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,196.000000,196.000000,200.000000,198.000000,198.000000,200.000000,200.000000,200.000000,200.000000
mean,0.830000,122.000000,98.848000,0.837232,0.915250,0.899523,2555.705000,126.860000,3.330000,3.259847,10.170100,103.358586,5118.181818,25.200000,30.705000,13205.690000,9.937914
std,1.248557,32.076542,6.038261,0.059333,0.029207,0.040610,518.594552,41.650501,0.271303,0.317383,4.014163,37.645120,481.666657,6.432487,6.827227,7966.982558,2.539415
min,-2.000000,65.000000,86.600000,0.678039,0.837500,0.799331,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000,4.795918
25%,0.000000,100.250000,94.500000,0.800937,0.891319,0.869565,2163.000000,97.750000,3.150000,3.110000,8.575000,70.000000,4800.000000,19.000000,25.000000,7775.000000,7.833333
50%,1.000000,122.000000,97.000000,0.832292,0.909722,0.904682,2414.000000,119.500000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10270.000000,9.791667
75%,2.000000,138.250000,102.400000,0.881788,0.926042,0.928512,2928.250000,142.000000,3.590000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.750000,12.368421
max,3.000000,256.000000,120.900000,1.000000,1.000000,1.000000,4066.000000,326.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000,18.076923

In [83]:
# summarize statistics of object type
df.describe(include=['object'])

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system
count,200,200,200,200,200,200,200,200,200,200
unique,22,2,2,2,5,3,2,6,7,8
top,toyota,gas,std,four,sedan,fwd,front,ohc,four,mpfi
freq,32,180,164,115,94,118,197,145,156,91

In [84]:
# group by unique values
df['fuel-type'].unique()

array(['gas', 'diesel'], dtype=object)

In [85]:
df_group_one=df[['drive-wheels', 'body-style', 'price']]

# grouping results
df_group_one=df_group_one.groupby(['drive-wheels'], as_index=False).mean()
df_group_one

  drive-wheels         price
0          4wd  10241.000000
1          fwd   9244.779661
2          rwd  19842.243243

In [86]:
# correlation
df.corr()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km
symboling,1.000000,0.469772,-0.529145,-0.364511,-0.237262,-0.542261,-0.234743,-0.112069,-0.150400,0.008512,-0.181073,0.074843,0.284958,-0.030158,0.041248,-0.083327,0.062423
normalized-losses,0.469772,1.000000,-0.057068,0.019433,0.086961,-0.377664,0.099404,0.112362,-0.030103,0.056200,-0.114738,0.217323,0.239580,-0.225255,-0.182011,0.133999,0.238712
wheel-base,-0.529145,-0.057068,1.000000,0.879005,0.814593,0.583789,0.787584,0.576779,0.503319,0.145190,0.249689,0.376084,-0.365355,-0.480029,-0.552211,0.589147,0.484047
length,-0.364511,0.019433,0.879005,1.000000,0.857271,0.492955,0.881058,0.685531,0.611943,0.121110,0.159203,0.581090,-0.287038,-0.667658,-0.700186,0.691044,0.659174
width,-0.237262,0.086961,0.814593,0.857271,1.000000,0.300995,0.867720,0.731100,0.548528,0.182872,0.189008,0.617365,-0.247510,-0.638155,-0.684700,0.752795,0.677111
height,-0.542261,-0.377664,0.583789,0.492955,0.300995,1.000000,0.310660,0.076255,0.193809,-0.083876,0.259526,-0.086236,-0.317498,-0.057087,-0.111568,0.137284,0.008923
curb-weight,-0.234743,0.099404,0.787584,0.881058,0.867720,0.310660,1.000000,0.849090,0.645109,0.168793,0.156444,0.758158,-0.279437,-0.750390,-0.795515,0.834420,0.785868
engine-size,-0.112069,0.112362,0.576779,0.685531,0.731100,0.076255,0.849090,1.000000,0.583127,0.211759,0.029005,0.822732,-0.256721,-0.651002,-0.679877,0.872337,0.745337
bore,-0.150400,-0.030103,0.503319,0.611943,0.548528,0.193809,0.645109,0.583127,1.000000,-0.051087,0.002021,0.568436,-0.277317,-0.591963,-0.598624,0.543713,0.569647
stroke,0.008512,0.056200,0.145190,0.121110,0.182872,-0.083876,0.168793,0.211759,-0.051087,1.000000,0.186831,0.102853,-0.070915,-0.041418,-0.040818,0.083339,0.042636
compression-ratio,-0.181073,-0.114738,0.249689,0.159203,0.189008,0.259526,0.156444,0.029005,0.002021,0.186831,1.000000,-0.214343,-0.436541,0.330897,0.267929,0.071176,-0.298898
horsepower,0.074843,0.217323,0.376084,0.581090,0.617365,-0.086236,0.758158,0.822732,0.568436,0.102853,-0.214343,1.000000,0.108161,-0.822919,-0.804718,0.810587,0.889650
peak-rpm,0.284958,0.239580,-0.365355,-0.287038,-0.247510,-0.317498,-0.279437,-0.256721,-0.277317,-0.070915,-0.436541,0.108161,1.000000,-0.116377,-0.059326,-0.101625,0.116517
city-mpg,-0.030158,-0.225255,-0.480029,-0.667658,-0.638155,-0.057087,-0.750390,-0.651002,-0.591963,-0.041418,0.330897,-0.822919,-0.116377,1.000000,0.972024,-0.687186,-0.949692
highway-mpg,0.041248,-0.182011,-0.552211,-0.700186,-0.684700,-0.111568,-0.795515,-0.679877,-0.598624,-0.040818,0.267929,-0.804718,-0.059326,0.972024,1.000000,-0.705115,-0.929940
price,-0.083327,0.133999,0.589147,0.691044,0.752795,0.137284,0.834420,0.872337,0.543713,0.083339,0.071176,0.810587,-0.101625,-0.687186,-0.705115,1.000000,0.790291
city-L/100km,0.062423,0.238712,0.484047,0.659174,0.677111,0.008923,0.785868,0.745337,0.569647,0.042636,-0.298898,0.889650,0.116517,-0.949692,-0.929940,0.790291,1.000000

# Module 4
## Model Evaluation and Refinement
### Training and Testing

In [87]:
# place the target data 'price' in a separate dataframe 'y'
y_data=df['price']

In [88]:
# drop price data in x data
x_data = df.drop('price', axis=1)

In [89]:
# randomly split our data into training and testing using train_test_split
from sklearn.model_selection import train_test_split

# the 'test_size' parameter sets the proportion of data that is split into the testing set (in this casde, the testing set is set to 10% of the total dataset)
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.15, random_state=1)

print("number of test samples :", x_test.shape[0])
print("number of training samples:",x_train.shape[0])

number of test samples : 30
number of training samples: 170